html {
  overflow-x: hidden;
}

body {
  cursor: none;
  overflow: hidden;
  scroll-behavior: smooth;
}

/*LOADING*/

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  font-size: 3rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.masthead {
  background: #000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 2560px) {
  .masthead {
    height: 80vh;
  }
}

/* Hero*/

header {
  min-height: 100vh;
  height: 100%;
  background: black;
}

.container3 {
  height: 1200px;
  position: relative;
  background: black;
  top: -50px;
}

@media (max-height: 731px) {
  .asvg {
    height: 400px;
  }

  .masthead-heading {
    font-size: 1.5rem;
  }
}

@media (device-height: 568px) {
  .asvg {
    height: 400px;
  }

  .masthead-heading {
    font-size: 1.2rem;
  }

  .symbol {
    transform: scale(0.5);
    margin-top: -1rem;
    margin-bottom: -0.5rem;
  }
}
@media (device-height: 736px) {
  .asvg {
    height: 400px;
  }

  .masthead-heading {
    font-size: 1.7rem;
  }
}
.topstuff {
  margin-top: -6rem;
}

.masthead-heading {
  z-index: 12;
}

.lead {
  font-size: 1.4rem;
}

.bg-black {
  background: rgb(0, 0, 0) !important;
}

.chevron {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1rem;
  transform: scale(2);
}

/*cursor */

.cursor {
  width: 40px;
  height: 40px;

  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 9999;
  border: 1px solid white;

  mix-blend-mode: difference;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.6);
  background-color: rgb(190, 18, 55);
  mix-blend-mode: difference;
}

/*navbar */

.hideNav{
  transition: all .3s ease-in-out;
  display: none;
}

.navbar {
  width: 100vw;
}

.logo-link {
  cursor: none;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: none;
}

.portfolio:hover {
  color: Red;
}

.nav-link {
  cursor: none;
}

.nav-link:visited {
  color: white !important;
  background: rgb(223, 51, 51) !important;
}

.nav-link:focus {
  color: white !important;
  background: rgb(223, 51, 51) !important;
}

.nav-link:active {
  color: white !important;
  background: rgb(223, 51, 51) !important;
}
.nav-link:hover {
  color: rgb(226, 52, 52) !important;
}

.navbar-toggler {
  background: rgb(233, 51, 51) !important;
}

.navbar-toggler:focus {
  background: rgb(233, 51, 51) !important;
}
.navbar-toggler:active {
  background: rgb(233, 51, 51) !important;
}

.navbar-toggler:visited {
  background: rgb(233, 51, 51) !important;
}

/*about*/
#about {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 420px) {
  .lead {
    font-size: 1.1rem;
  }
}

.skills {
  border: 2px solid rgb(221, 44, 44);
  margin-top: 2.5rem;
  border-radius: 5px;
}

.skills-container {
  margin-top: 1rem;
  height: 100%;

  max-width: 100%;
  background: #000;
}

.sk-list1 {
  margin: 1rem;
  padding: 0;
}

.skill {
  width: 200px;
  list-style: none;

  margin: 10px;
  padding: 5px;
  border: 3px solid red;
  border-radius: 5px;
}
.skill:hover {
  transition: all 0.4s ease-in-out;
  background: #ec4646;
}

/*Works*/

#portfolio {
  background: #000;
  min-height: calc(100vh + 100px);
}
 
 
.workCard{
  height: 200px;
} 

.work-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
 
  padding: auto;
}

.work-title {
  text-decoration: none;
}

.work-desc {
  font-size: 1rem;
}

.work-tech {
  font-size: 0.8rem;
}
