.c {
    position: relative;
    
    width: 328px;
    height: 240px;
    cursor: pointer;
    will-change: transform, opacity;
  }

  .card{
      width:332px;
      height: 240px;
  }
  
  .front,
  .back {
    background-size: cover;
  }
  
  .back {
    position:absolute;
    z-index: 4;
    height: 240px;
    background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);
  }
  
  .front {
    position:relative;
    z-index: 2;
    background-image: url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&w=1181&q=80&auto=format&fit=crop);
  }